.a-image {
  &--cover {
    object-fit: cover;
  }
  &--avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &--m {
    width: 100px;
    height: 100px;
  }
  &--xl {
    width: 150px;
    height: 150px;
  }
  &--big {
    width: 200px;
    height: 200px;
  }
  &--thumbnail {
    border-radius: 5px;
  }
  &--cover {
    object-fit: cover;
  }
  &--rounded {
    border-radius: 10px;
  }
}

@media only screen and (max-width: $media-size-m) {
  .a-image {
    &--avatar {
      width: 75px;
      height: 75px;
    }
  }
}