.ml-arrow {
  position: absolute;
  svg {
    position: absolute;
    width: 50%;
    height: 50%;
    fill: $mono-color-0;
  }
  &--right {
    right: 0;
  }
  &--left {
    transform: rotate(180deg);
    left: 0;
  }
  &--full {
    padding: 25px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: $mono-color-9;
  }
}