.ml-arrow {
  position: absolute;
  &--right {
    right: 0;
    transform: rotate(180deg);
  }
  &--left {
    left: 0;
  }
  &--full {
    height: 100%;
    padding: 100px;
    background-color: black;
  }
}