.blueberry {
  --primary-color: #476FF8;
  --primary-color--dark: #0a0a5a;
  --primary-color--light: #5779eb;

  --secondary-color: #6a0b82;
  --secondary-color--dark: #380b4c;
  --secondary-color--light: #8d14b4;

  --primary-color-text: #000000;
  --secondary-color-text: #ffffff;

  --contrast-color: #FFED82;
}
