.cake {
  --primary-color: #EFADB2;
  --primary-color--dark: #A2DCEF;
  --primary-color--light: #AAB5EF;

  --secondary-color: #BAD455;
  --secondary-color--dark: #F4DF42;
  --secondary-color--light: #83cab9;

  --primary-color-text: #000000;
  --secondary-color-text: #ffffff;

  --contrast-color: #ffbc79;
}
