.caribbean {
  --primary-color: #44BBA4;
  --primary-color--dark: #009688;
  --primary-color--light: #DEFFF9;

  --secondary-color: #0097A4;
  --secondary-color--dark: #34495F;
  --secondary-color--light: #00a7b4;

  --primary-color-text: #000000;
  --secondary-color-text: #ffffff;

  --contrast-color: #FFED82;
}
