.celeste {
  --primary-color: #31A68D;
  --primary-color--dark: #3847F6;
  --primary-color--light: #C0FFEE;

  --secondary-color: #3847F6;
  --secondary-color--dark: #0754B5;
  --secondary-color--light: #CCEEFF;

  --primary-color-text: #000000;
  --secondary-color-text: #ffffff;

  --contrast-color: #FFED82;
}


