.dopely {
  --primary-color: #C17692;
  --primary-color--dark: #7C0151;
  --primary-color--light: #C8B2C5;

  --secondary-color: #C3B7E9;
  --secondary-color--dark: #aa9fcb;
  --secondary-color--light: #CED8F3;

  --primary-color-text: #231f20;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #ed1c24;

}


