.eevee {
  --primary-color: #96C11D;
  --primary-color--dark: #FFD303;
  --primary-color--light: #9BFEFF;

  --secondary-color: #ED2C83;
  --secondary-color--dark: #001944;
  --secondary-color--light: #D6E5FF;

  --primary-color-text: #96C11D;
  --secondary-color-text: #9BFEFF;

  --contrast-color: #dd8d3a;
}