.graylord {
  --primary-color: #ededed;
  --primary-color--dark: #CCCCCC;
  --primary-color--light: #ffffff;

  --secondary-color: #5b5b5b;
  --secondary-color--dark: #011920;
  --secondary-color--light: #8f8f8f;

  --primary-color-text: #000000;
  --secondary-color-text: #bfbfbf;

  --contrast-color: #FFED82;
}



