.haze {
  --primary-color: #8E9DCC;
  --primary-color--dark: #7D84B2;
  --primary-color--light: #D9DBF1;

  --secondary-color: #bace96;
  --secondary-color--dark: #839269;
  --secondary-color--light: #F9F9ED ;

  --primary-color-text: #20165d;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #dd8d3a;

}


