.haze {
  --primary-color: #8E9DCC;
  --primary-color--dark: #7D84B2;
  --primary-color--light: #D9DBF1;

  --secondary-color: #e6ffb2;
  --secondary-color--dark: #DBF4A7;
  --secondary-color--light: #F9F9ED ;

  --primary-color-text: #20165d;
  --secondary-color-text: #CCCCCC;

  --contrast-color: #dd8d3a;

}


