$primary-color: #a7d9cd;
$primary-color-dark: darken($primary-color, 10);
$primary-color-light: lighten($primary-color, 10);
$primary-color-text: #1b1b1b;

$secondary-color: #535557;
$secondary-color-dark: darken($secondary-color, 10);
$secondary-color-light: lighten($secondary-color, 10);
$secondary-color-text: #FFF;

$contrast-color: #dd8d3a;

@import "fonts/condensed";


