.laser {
  --primary-color: #FFE4BD;
  --primary-color--dark: #9394A6;
  --primary-color--light: #D5D5DF;

  --secondary-color: #FE007C ;
  --secondary-color--dark: #6f003d;
  --secondary-color--light: #ff5b8b;

  --primary-color-text: #1E1010;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #dd8d3a;

}
