.lavandula {
  --primary-color: #6900FF;
  --primary-color--dark: #4E409E;
  --primary-color--light: #6852FA;

  --secondary-color: #666BFF;
  --secondary-color--dark: #3c3e7c;
  --secondary-color--light: #9D64EF;

  --primary-color-text: #FFFFFF;
  --secondary-color-text: #CCCCCC;

  --contrast-color: #dd8d3a;

}


