.lemon {
  --primary-color: #F4E87C;
  --primary-color--dark: #CBBF7A;
  --primary-color--light: #EBF38B;

  --secondary-color: #9F956C;
  --secondary-color--dark: #584D3D;
  --secondary-color--light: #a69c73;

  --primary-color-text: #134004;
  --secondary-color-text: white;

  --contrast-color: #dd8d3a;

}


