$primary-color: #1F6521;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: #666;

$secondary-color: #A4A71E;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-text: #666;

@import "fonts/istok";









