$primary-color: #ab47bc;
$primary-color-light: #df78ef;
$primary-color-dark: #790e8b;
$primary-color-text: #666;

$secondary-color: #c51162;
$secondary-color-dark: #8e0038;
$secondary-color-light: #fd558f;
$secondary-color-text: #757575;

@import "fonts/istok";
