.naisu{
  --primary-color: #3b4e54;
  --primary-color--dark: #263137;
  --primary-color--light: #3C494F;

  --secondary-color: #00A9B9;
  --secondary-color--dark: #006f7f;
  --secondary-color--light: #D7E6E6;

  --primary-color-text: #ddfbf8;
  --secondary-color-text: #131313;

  --contrast-color: #FFED82;
}


