$primary-color: #f5a631;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: #d9fbff;

$secondary-color: #81ffff;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-text: #462603;

@import "fonts/istok";

