.phalawon {
  --primary-color: #93EEE4;
  --primary-color--dark: #4EBDC2;
  --primary-color--light: #52E2D9;

  --secondary-color: #F74F8C ;
  --secondary-color--dark: #D53D70;
  --secondary-color--light: #ff5093;

  --primary-color-text: #000000;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #FFED82;

  --success-color: #cddc39;
  --warning-color: #ffc107;
  --error-color: #cc1717;
}

