.phalawon {
  --primary-color: #EA933A;
  --primary-color--dark: #A9461D;
  --primary-color--light: #E4DD83;

  --secondary-color: #2C7784 ;
  --secondary-color--dark: #205158;
  --secondary-color--light: #8FCFC1;

  --primary-color-text: #000000;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #FFED82;

  --success-color: #cddc39;
  --warning-color: #ffc107;
  --error-color: #cc1717;
}



