$primary-color: #00778B;
$primary-color-dark: #01404b;
$primary-color-light: #00bcd0;
$primary-color-text: black;

$secondary-color: #EF426F;
$secondary-color-dark: darken(#388E3C, 10%);
$secondary-color-light: lighten(#C8E6C9, 10%);
$secondary-color-text: white;

@import "fonts/lato";
