.shadz {
  --primary-color: #E78781;
  --primary-color--dark: #AE3251;
  --primary-color--light: #DDB2BE;

  --secondary-color: #A8A3AA;
  --secondary-color--dark: #757077;
  --secondary-color--light: #D2D1CD;

  --primary-color-text: #212121;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #FFED82;
}