$primary-color: #2196F3;
$primary-color-dark: #1976D2;
$primary-color-light: #BBDEFB;
$primary-color-text: #212121;

$secondary-color: #7C4DFF;
$secondary-color-dark: darken($secondary-color, 10);
$secondary-color-light: lighten($secondary-color, 10);
$secondary-color-text: #FFF;

$contrast-color: #FFED82;

@import "fonts/istok";


