
.spring-melody {
  --primary-color: #A4C2A5;
  --primary-color--dark: #4A4A48;
  --primary-color--light: #b8dab9;

  --secondary-color: #6d6f69;
  --secondary-color--dark: #4a4c46;
  --secondary-color--light: #F1F2EB;

  --primary-color-text: #212121;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #FFED82;
}



