.strawberry {
  --primary-color: #EFADB2;
  --primary-color--dark: #FB9BA0;
  --primary-color--light: #FF6A79;

  --secondary-color: #FC1B53;
  --secondary-color--dark: #77122a;
  --secondary-color--light: #FF6666;

  --primary-color-text: #212121;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #FFED82;
}



