.wood {
  --primary-color: #e0a954;
  --primary-color--dark: #db9d39;
  --primary-color--light: #e1ab56;

  --secondary-color: #505050;
  --secondary-color--dark: #7f7361;
  --secondary-color--light: #7a7a7a;

  --primary-color-text: black;
  --secondary-color-text: white;

  --contrast-color: #FFEC94;
}