// Colors
//
// Markup:
// <button class="a-button a-button--m {{modifier_class}}">Button Element</button>
// <button class="a-button a-button--s {{modifier_class}}">Button Element</button>
// <button class="a-button a-button--xs {{modifier_class}}">Button Element</button>
//
// .a-button--secondary - Secondary Button
// .a-button--gradient - Gradient Button
// .a-button--gradient--secondary - Gradient Button
// .a-button--mono-0 - Gradient Button
// .button--large - A large button.
//
// Styleguide Atoms.Button.Colors

.a-button {
  color: $secondary-color-text;
  background-color: $primary-color;
  &:hover {
    background-color: $secondary-color-light;
  }
  &--gradient {
    background: -webkit-linear-gradient($primary-color, $primary-color-dark);
    &.a-button--secondary {
      background: -webkit-linear-gradient($secondary-color, $secondary-color-dark);
    }
  }
  &--secondary {
    background-color: $secondary-color;
    &:hover {
      background-color: $secondary-color-dark;
    }
  }
  &--mono-0 {
    color: $primary-color;
    background-color: $mono-color-0;
    border: 1px solid $mono-color-0;
    &:hover {
      border-color: $primary-color;
      background-color: $mono-color-0;
    }
  }
}
