a.a-button, .a-button {
  cursor:pointer;
  &--rounded {
    border-radius: 5px;
  }
  &--linear {
    background-color: transparent;
    border: 1px solid $mono-color-0;
    &--double {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: calc(100% + 8px);
        width: calc(100% + 8px);
        top: -4px;
        left: -4px;
        border: 1px double $mono-color-0;
      }
    }
    &:hover {
      background-color: transparent;
      border-width: 3px;
    }
  }
  &--slider {
    width: 10px;
    height: 10px;
  }
}

a.a-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}