// Sizes
//
// Markup:
// <button class="a-button a-button--primary {{modifier_class}}">Button</button>
// <button class="a-button a-button--secondary {{modifier_class}}">Button</button>
//
// .a-button--xs - XS
// .a-button--s - S
// .a-button--m - M
// .a-button--xl - XL
// .a-button--fix - Fix
// .a-button--fix--xs - Fix XS
// .a-button--fix--s - Fix S
// .a-button--fix--m - Fix M
//
// Styleguide Atoms.Button.Sizes

a.a-button, .a-button {
  font-size: $font-size-xs;
  &--xs {
    padding: 0 10px;
    font-size: $font-size-xs;
    max-width: 50px;

  }
  &--s {
    padding: 5px 15px;
    font-size: $font-size-s;
    max-width: 125px;
  }
  &--m {
    padding: 5px 20px;
    font-size: $font-size-m;
    max-width: 175px;
  }
  &--xl {
    padding: 10px 20px;
    font-size: $font-size-s;
    max-width: 250px;
  }
  &--fix {
    width: 100px;
    &--xs {
      width: 15px;
    }
    &--s {
      width: 50px;
    }
    &--m {
      width: 150px;
    }
  }
}