// Slider
//
// Markup:
// <button class="a-button a-button--primary a-button--slider"></button>
// <button class="a-button a-button--secondary a-button--slider "></button>
//
// :hover - Hover
//
// Styleguide Atoms.Button.Slider

.a-button--slider {
  background-color: $mono-color-0;
  opacity: 0.5;

  &.is-active {
    background-color: $secondary-color;
    opacity: 0.9;
  }

  &--pill {
    width: 25px;
    height: 10px;
    border-radius: 25px;
  }

  &--title {
    color: $primary-color;
    background-color: inherit;
    line-height: 14px;
    padding: 10px 0;
    letter-spacing: 0;
    border-left: 10px solid $mono-color-9;
    &.is-active {
      background-color: $mono-color-1;
      font-weight: bold;
      border-color: $primary-color;
    }
  }
}