// Slider
//
// Markup:
// <button class="a-button a-button--primary a-button--slider"></button>
// <button class="a-button a-button--secondary a-button--slider "></button>
//
// :hover - Hover
//
// Styleguide Atoms.Button.Slider

.a-button--slider {
  background-color: $mono-color-0;
  opacity: 0.5;

  &.is-active {
    opacity: 0.9;
    background-color: $secondary-color;
  }

  &--pill {
    width: 25px;
    height: 10px;
    border-radius: 25px;
  }

  &--title {
    text-align: center;
    color: $primary-color;
    line-height: 14px;
    padding: 0 10px;
    letter-spacing: 0;
    border-left: 10px solid $mono-color-9;

    &__description {
      margin: 0 auto;
      overflow: hidden;
      max-height: 0;
      font-weight: normal;
      transition: max-height 1s linear;
      color: $primary-color-text;
      font-size: $font-size-s;
    }

    &.is-active {
      background-color: $mono-color-1;
      font-weight: bold;
      border-color: $primary-color;

      .a-button--slider--title__description {
        transition-duration: 5s;
        transition-delay: 1s;
        max-height: 600px;
        overflow: auto;
        &:after {
          content: ' ';
          height: 10px;
          display: block;
        }
      }
    }
  }
}
