@import "base";
@import "utils/thirdParty/normalize";
@import "utils/medias/index";
/** THEME & Branding**/
@import "atoms/theme/index";
/** ATOMS **/
@import "atoms/spaces/padding";
@import "atoms/spaces/margin";
@import "atoms/text/sizes";
@import "atoms/text/colors";
@import "atoms/text/modifier";
@import "atoms/text/icons";
@import "atoms/text/titles";
@import "atoms/price/index";
@import "atoms/button/index";
//DOC-OK
@import "atoms/animations/bell";
@import "atoms/animations/bg";
@import "atoms/animations/fade";
@import "atoms/image/shape";
@import "atoms/background/color";
@import "atoms/background/shape";
@import "atoms/background/gradient";
@import "atoms/background/splash";
@import "atoms/spaces/separator";
@import "atoms/borders/types";
@import "atoms/borders/position";
@import "atoms/borders/rainbow";
//DOC-OK
@import "atoms/separator/color";
@import "atoms/icon/svg";
/** ASSETS **/
@import "atoms/media/cursor";
/** ANIMATIONS **/
@import "atoms/microinteractions/index";
@import "atoms/microinteractions/bounce";
@import "atoms/microinteractions/color";
@import "atoms/microinteractions/pulse";
@import "atoms/microinteractions/float";
/**SVG**/
@import "atoms/svg/meter";

body {
  font-size: $font-size-text;
  color: $primary-color-text;
  font-family: $font, sans-serif;
}

/** LAYOUT  **/
@import "layout/basic/flex";
@import "layout/basic/columns";
@import "layout/basic/positions";
@import "layout/grid/column";
/** UTILS  **/
@import "utils/layers/index";
@import "utils/devices/index";
@import "utils/overflow/index";
@import "utils/display/index";
@import "utils/display/step";
@import "utils/shadow/index";

/** MOLECULES  **/

@import "molecules/block/articles/rainbow"; //DOC-OK
@import "molecules/block/articles/minimalist";
@import "molecules/block/articles/extract";
@import "molecules/block/articles/slim";
@import "molecules/block/articles/condensed";
@import "molecules/block/articles/semicircle";
@import "molecules/block/articles/image";

@import "molecules/block/theme-selector";

@import "molecules/card/testimony";
@import "molecules/card/author";
@import "molecules/card/articles/avatar";
@import "molecules/card/articles/quark"; //DOC-OK
@import "molecules/card/articles/road"; //gitDOC-OK
@import "molecules/card/sample";
@import "molecules/card/author";
@import "molecules/card/float";

@import "molecules/content/newspaper";

@import "molecules/box/index";
@import "molecules/slider/arrow";
@import "molecules/visual/color";
@import "molecules/block/articles/rectangle";
@import "molecules/share/deploy";
@import "molecules/breadcrumb/solid";
@import "molecules/product/float";
@import "molecules/message/demand";

/** ORGANISMS  **/
@import "organisms/headers/inline"; //DOC-OK
@import "organisms/headers/mobile"; //DOC-OK
@import "organisms/headers/double"; //DOC-OK

@import "organisms/footer/classic"; //DOC-OK

@import "organisms/banner/arrow"; //DOC-OK
@import "organisms/banner/basic"; //DOC-OK
@import "organisms/banner/data"; //DOC-OK
@import "organisms/banner/float"; //DOC-OK
@import "organisms/banner/outside-circle"; //DOC-OK
@import "organisms/banner/screen"; //DOC-OK

@import "organisms/slider/slider"; //DOC-OK
@import "organisms/slider/simple"; //DOC-OK
@import "organisms/slider/articles"; //DOC-OK
@import "organisms/slider/product/curved"; //DOC-OK

@import "organisms/title/brand"; //DOC-OK

@import "organisms/content/plain"; //DOC-OK
@import "organisms/content/poster-detail"; //DOC-OK

@import "organisms/visual/color"; //DOC-OK

@import "organisms/list/title-vertical"; //DOC-OK
@import "organisms/list/category"; //DOC-OK

@import "organisms/popup/exit-intent";

@import "organisms/block/bubble-action"; //DOC-OK
@import "organisms/block/cards-background"; //DOC-OK
@import "organisms/block/road"; //DOC-OK
@import "organisms/block/quark"; //DOC-OK
@import "organisms/block/articles/image"; //DOC-OK
@import "organisms/block/articles/rainbow"; //DOC-OK

@import "atoms/wordpress/index";