<div class="og-product-curved l-column--1-1">
    <!--
    <div class="og-product-curved__container l-column--1-1 l-position--relative">
        <div class="og-product-curved__image a-bg l-position--absolute ">
            {{> atoms/image/normal modifier="l-column--1-1 l-position--absolute"
                    pictureClass="l-column--1-1"
                    src="https://miro.medium.com/max/500/1*YSt470kBHHBsvReBeXFurA.png"}}
        </div>
        <div class="og-product-curved__content l-position--absolute ">

        </div>
        {{> atoms/button/rounded
                cta="Comprar"
                modifier="og-product-curved__button l-position--absolute"
        }}
    </div>
    -->
</div>