<section class="og-title-brand a-bg sky l-flex l-flex--direction-column">
    <div class="og-title-brand__heading l-flex--align-center">
        <h1 class="a-text a-text--xl a-text--bold l-flex l-flex--direction-column l-flex-item--align-center  ">
            <span class="og-title__claim"> Capítulo 1</span>
            <span class="og-title__title"> La guía definitiva Gutenberg</span>
        </h1>
    </div>

    <div class="og-title-brand__content l-flex l-flex--direction-row">
        <div class="og-title-brand__content__description l-column--1-2">
            <p>Un poquito de lorem ipsum super guay</p>
            <p>Porque esto va a describir un poco de que va a ir el post y si la gente se queda o no</p>
            <p>Va a ser una de las cosas más importantes a la hora de hacer que la gente se quede o se vaya de aquí.</p>
        </div>
        {{> atoms/image/normal src="https://www.animaker.com/assets/images/icons/comic-female.png" pictureClass="l-column--1-2"}}
    </div>
</section>