<div class="ml-card-sample a-bg l-flex l-flex--direction-column ">
    <div class="ml-card-sample__box a-bg--dark l-column--1-1">
        {{> atoms/title/h3 title="Binary Tree" modifier=""}}
    </div>
    <div class="ml-card-sample__container l-column--1-1">
        {{> atoms/image/normal
                src="https://cdnb.artstation.com/p/assets/images/images/008/331/651/large/bakhytzhan-shabdukarimov-new-demo-5-vostok.jpg?1512057321"
                pictureClass="l-column--1-1"
                modifier="l-column--1-1"
        }}
    </div>
</div>