.a-bounce {
  animation: bounce-animation 1s .7s ease-in-out infinite;
}

@keyframes bounce-animation {
  0%, 30%, 55%, 70%, 80%, 90%, 100% {
    transform: translateX(0px);
  }
  45% {
    transform: translateX(15px);
  }
  63% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(7px);
  }
  85% {
    transform: translateX(4px);
  }
  95% {
    transform: translateX(2px);
  }
}