// Speed-o-Meter
//
// Markup: svg-meter.html
//
// .a-deg-10 - Move 10%
// .a-deg-20 - Move 20%
// .a-deg-30 - Move 30%
// .a-deg-40 - Move 40%
// .a-deg-50 - Move 50%
// .a-deg-60 - Move 60%
// .a-deg-70 - Move 70%
// .a-deg-80 - Move 80%
// .a-deg-90 - Move 90%
// .a-deg-100 - Move 100%
//
// Styleguide Atoms.SVG.meter
.a-svg-meter {
  width: 100px;
  &--small {
    transform: scale(0.5);
  }
  &__hand {
    transform: rotate(-90deg);
    transform-origin: 137px 140px;
    transition: transform 1.2s ease-in-out;
    fill: $primary-color;
  }
  &__dial {
    stroke-width: 50;
    stroke-dasharray: 100 500;
    fill: none;
    &--1 {
      stroke-dashoffset: 305;
      stroke: $success-color;
    }
    &--2 {
      stroke-dashoffset: 200;
      stroke: $warning-color;
    }
    &--3 {
      stroke: $error-color;
      stroke-dashoffset: 110;
      stroke-dasharray: 50 3 30 2 20 1 10 500;
    }
  }
  &__circle {
    fill: $primary-color-dark;
  }
  &__number {
    font-size: 40px;
    font-weight: bold;
    fill: $secondary-color-text;
  }
  @each $class, $value in $percentDegrees {
    &.a-deg-#{$class} {
      .a-svg-meter__hand {
        animation: meter-#{$class} 1.2s ease-in forwards, shaking-#{$class} 100ms 1.2s infinite;
        transform: rotate(($value));
      }
    }
  }
}

@each $class, $value in $percentDegrees {
  @keyframes meter-#{$class} {
    0% {
      transform: rotate(#{nth($percentDegrees, 1)}deg);
    }
    100% {
      transform: rotate(#{$value}deg);
    }
  }
  @if ($value >= 40) {
    @keyframes shaking-#{$class} {
      0% {
        transform: rotate(#{$value - 3}deg);
      }
      100% {
        transform: rotate(#{$value + 3}deg);
      }
    }
  }
}

