$primary-color: #2196F3 !default;
$primary-color-dark: #1976D2 !default;
$primary-color-light: #BBDEFB !default;
$primary-color-text: #212121 !default;

$secondary-color: #7C4DFF !default;
$secondary-color-dark: darken($secondary-color, 10) !default;
$secondary-color-light: lighten($secondary-color, 10) !default;
$secondary-color-text: #FFFFFF !default;

$contrast-color: #FFED82 !default;

$gradient-rainbow: linear-gradient(141deg, rgba($primary-color-light, 0.5) 0%, rgba($primary-color, 0.5) 51%, rgba($secondary-color, 0.5) 75%);
$gradient-brand: linear-gradient(141deg, $primary-color-dark 0%, $primary-color 51%, $primary-color-dark 75%);


