$mono-color-0: #FFFFFF !default;
$mono-color-1: #eff2f7 !default;
$mono-color-2: #cccccc !default;
$mono-color-3: #b7b7b7 !default;
$mono-color-4: #8a8a8a !default;
$mono-color-5: #676767 !default;
$mono-color-6: #484848 !default;
$mono-color-7: #343434 !default;
$mono-color-8: #1f1f1f !default;
$mono-color-9: #000000 !default;