.bs_tooltip {
  position: relative;
  cursor: pointer;
}

.a-tooltip {
  z-index: 10;
  position: absolute;
  padding: 10px;
  max-width: 220px;
  text-align: center;
  color: $mono-color-0;
  background: $mono-color-8;
  bottom: 25px;
  left: -25px;
  &--full {
    position: fixed;
    min-width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
}