.og-logo-inline {
  position: sticky;
  top: 0;
  background: $mono-color-0;
  overflow: hidden;
  height: 50px;
  &__image {
    display: block;
    margin-bottom: -2px;
    height: 100%;
    object-fit: cover;
    img {
      max-width: 180px;
    }
  }
  &__navigation {
    margin: 0 auto;
    font-size: 16px;
    padding: 5px;
    align-items: center;
    text-transform: capitalize;
    &__link.a {
      color: $mono-color-8;
      font-size: 15px;
      margin-left: 10px;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 720px) {
  .og-logo-inline {
    height: 30px;
    &__image {
      img {
        height: 30px;
      }
    }
    &__navigation {
      font-size: 12px;
      padding: 5px;
    }
  }
}