$og-banner-arrow-color: $primary-color-dark;
.og-banner-arrow {
  &__simple {
    height: 75px;
    border: 1px solid $primary-color-dark;
    background: $og-banner-arrow-color;
  }
  &__edge {
    height: 50px;
    background: $og-banner-arrow-color;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}