.og-banner-float {
  box-shadow: 0 0px 10px 1px #00414c;
  transform: translateY(300px);
  transition: 1s ease-in-out;
  &.is-active {
    transform: translateY(0px);
  }
  .a-icon--badge {
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: inset 0 0 0 5px #3ab9cd, 0 0px 5px 5px rgb(0, 65, 76);
  }
  .c-icon {
    color: #ef426f;
    font-size: 40px;
  }
  .c-icon-close {
    position: absolute;
    color: $mono-color-0;
    right: 20px;
    top: 15px;
    font-size: 20px;
  }
  &__content {
    position: relative;
  }
}

@media only screen and (max-width: $media-size-m) {
  .og-banner-float {
    .a-icon--badge {
      width: 50px;
      height: 50px;
      border-width: 2px;
    }
    .a-text--brand--light {
      font-size: 14px;
      padding: 0 50px;
    }
    .a-text--light {
      margin: 0;
      font-size: 14px;
      padding: 0 40px;
      text-align: center;
    }
    .c-icon {
      font-size: 24px;
    }
    .c-icon-close {
      right: 10px;
      font-size: 16px;
      top: 5px;
    }

  }
}