// Screen
//
// Markup: screen.html
//
// Styleguide Organisms.Banner.Screen

.og-banner-screen {
  height: 100vh;
  width: 100vw;
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__image {
    display: block;
    max-height: 300px;
  }
  &__claim {
    bottom: 25%;
    left: 49%;
  }
}