// Screen
//
// Markup: screen.html
//
// Styleguide Organisms.Banner.Screen

.og-banner-screen {
  height: 100vh;
  width: 100vw;
  &__logo {
    width: 150px;
    height: 150px;
    margin: calc(50vh - 130px) auto 0 auto;
  }
  &__image {
    display: block;
    max-height: 150px;
  }
  &__claim {
    bottom: 25%;
    left: 49%;
  }
}