.ml-article-avatar {
  &__content {
    height: 150px;
    margin-left: -75px;
    padding: 10px 10px 10px 100px;
    border-radius: 0 40px 40px 0px;
  }

  &__picture {
    height: 150px;
    z-index: 1;
  }
  &__image {
    width: 150px;
    height: 150px;
  }
  &__title {
    align-self: start;
  }

}

@media only screen and (max-width: $media-size-m) {
  .ml-article-avatar {
    &__content {
      padding: 10px 10px 10px 80px;
    }
  }
}