$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color--dark);
$primary-color-light: var(--primary-color--light);
$primary-color-text: var(--primary-color-text);

$secondary-color: var(--secondary-color);
$secondary-color-dark: #fffff;
$secondary-color-light: #fffff;
$secondary-color-text: var(--secondary-color-text);

$contrast-color: var(--contrast-color);