// Articles Images
//
// Markup: articlesImages.html
//
// Styleguide Organisms.Blocks.ArticlesImages
.og-image-articles {
  .ml-image-article {
    margin-top: -45px;
  }
  .ml-image-article:last-child {
    margin-top: 0;
    height: 300px;
  }
}