$primary-color: red;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: white;

$secondary-color: black;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-text: red;

@import "fonts/istok";









