$secondary-color: #00BCD4;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-text: #e7f5f5;

$primary-color: #03A9F4;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: #efefef;

@import "fonts/istok";
