.og-content-plain {
  p {
    padding: 5px 0;
    letter-spacing: 0;
    word-spacing: 1px;
    font-size: $font-size-s;
    line-height: 25px;
  }
  a, a:visited {
    color: $primary-color;
  }
  &--secondary {
    @extend .a-bg;
    a, a:visited {
      color: $mono-color-0;
    }
  }
}