.ml-card-author {
  &__image {
    margin: -5px;
    img {
      object-fit: contain;
      max-height: 175px;
    }
  }
  &__description {
    border-width: 1px;
    border-top-width: 5px;
    border-style: solid;
  }
  &__description--black {
    border-color: $mono-color-9;
  }

}