.ml-card-sample {
  &__title {

  }
  &--small {
    max-width: 200px;
  }
  &__container {
    height: 200px;
    picture {
      height: 100%;
    }
    .a-image {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: $media-size-sm) {
  .ml-card-sample {
    &__container {
      height: 150px;
    }
  }
}