.ml-card-sample {
  &__title {
    background-color: $primary-color-dark;
  }
  &--small {
    max-width: 200px;
  }
  &__container {
    background-color: $primary-color;
    height: 200px;
    picture  {
      height: 100%;
    }
    .a-image {
      height: 100%;
      object-fit: cover;
    }
  }
  &--secondary {
    .ml-card-sample {
      &__title {
        background-color: $secondary-color-dark;
      }
      &__container {
        background-color: $secondary-color;
      }
    }
  }
}

@media only screen and (max-width: $media-size-sm) {
  .ml-card-sample {
    &__container {
      height: 150px;
    }
  }
}