.wp-block-image {
  max-width: 50%;
  margin: 0 auto;
  padding: 5px;
  @extend .u-shadow--bottom;
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px;
  }
  figcaption {
    color: $primary-color;
    padding: 0 10px;
  }
}

.blocks-gallery-item img {
  max-height: 300px;
  object-fit: cover;
}

.entry-content {

}