// Articles Rainbow
//
// Markup: articleRainbow.html
//
// Styleguide Molecules.Articles.Rainbow
.ml-article-rainbow {
  width: 250px;
  padding: 60px 20px 60px;
  position: relative;
  min-height: 25vh;
  &:hover .a-button {
    transform: translateY(5px);
    opacity: 1;
  }
}