.l-position {
  position: relative;
  &--absolute {
    position: absolute;
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    &--bottom {
      top: inherit;
      bottom:0;
    }
  }
  &--sticky {
    position: sticky;
    top: 0;
  }
}