$media-size-sm: 380px;
$media-size-m: 768px;
$media-size-lm: 840px;
$media-size-l: 1200px;
$media-size-xl: 1400px;

$spaceMap: (
        "0" : 0,
        "1" : 1px,
        "5" : 5px,
        "15": 15px,
        "20": 20px,
        "40": 40px,
        "60": 60px,
        "90": 90px
);

$percentDegrees: (
        "0" : -90deg,
        "10": -80deg,
        "20": -60deg,
        "30": -40deg,
        "40": -20deg,
        "50": 0deg,
        "60": 20deg,
        "70": 40deg,
        "80": 70deg,
        "90": 80deg,
        "100": 90deg
);