$font-size-text: 18px;
$font-size-xl: 36px;
$font-size-l: 30px;
$font-size-m: 24px;
$font-size-sm: 20px;
$font-size-s: 16px;
$font-size-xs: 12px;

.a-text {
  font-size: $font-size-text;
  &--xl {
    font-size: $font-size-xl;
  }
  &--l {
    font-size: $font-size-l;
  }
  &--m {
    font-size: $font-size-m;
  }
  &--s {
    font-size: $font-size-s;
  }
  &--xs {
    font-size: $font-size-xs;
  }
}