.ml-share-deploy {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
  &__share {
    &__button {
      svg {
        width: 25px;
        height: 25px;
      }
    }
    &:hover, .ml-share-deploy__navigation:hover {
      .ml-share-deploy__navigation {
        @for $i from 1 through 3 {
          &__network:nth-child(#{$i}) {
            opacity: 1;
            z-index: 1;
            left: #{$i*30}px;
            transition-delay: #{$i*0.1}s;
          }
        }
      }
    }
  }
  &__navigation {
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 100px;
    height: 20px;
    top: 0;
    &__network {
      svg {
        width: 25px;
        height: 25px;
      }
      transition: all ease-in-out 0.5s;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      &:hover {
      }
    }
  }
  &--top-right {
    right: 10px;
    top: 10px;
  }
  &--top-left {
    left: 10px;
    top: 10px;
  }
  &--bottom-left {
    left: 15px;
    bottom: 15px;
  }
  &--bottom-right {
    right: 10px;
    bottom: 10px;
  }
}