$share-deploy-height: 22;
.ml-share-deploy {
  position: absolute;
  width: #{$share-deploy-height}px;
  &__navigation {
    &__network {
      transition: all ease-in-out 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      &:hover {
      }
    }
  }
  &__share {
    &:hover, .ml-share-deploy__navigation:hover {
      .ml-share-deploy__navigation {
        @for $i from 1 through 3 {
          &__network:nth-child(#{$i}) {
            opacity: 1;
            z-index: 1;
            left: #{$i*$share-deploy-height}px;
            transition-delay: #{$i*0.1}s;
          }
        }
      }
    }
  }
  &--left {
    .ml-share-deploy__share {
      &:hover, .ml-share-deploy__navigation:hover {
        .ml-share-deploy__navigation {
          @for $i from 1 through 3 {
            &__network:nth-child(#{$i}) {
              opacity: 1;
              z-index: 1;
              left: #{$i*-$share-deploy-height}px;
              transition-delay: #{$i*0.1}s;
            }
          }
        }
      }
    }
  }
  &--bottom {
    .ml-share-deploy__share {
      &:hover, .ml-share-deploy__navigation:hover {
        .ml-share-deploy__navigation {
          @for $i from 1 through 3 {
            &__network:nth-child(#{$i}) {
              opacity: 1;
              z-index: 1;
              top: #{$i*$share-deploy-height}px;
              left: 0;
              transition-delay: #{$i*0.1}s;
            }
          }
        }
      }
    }
  }
  &--top {
    .ml-share-deploy__share {
      &:hover, .ml-share-deploy__navigation:hover {
        .ml-share-deploy__navigation {
          @for $i from 1 through 3 {
            &__network:nth-child(#{$i}) {
              opacity: 1;
              z-index: 1;
              top: #{$i*-$share-deploy-height}px;
              left: 0;
              transition-delay: #{$i*0.1}s;
            }
          }
        }
      }
    }
  }
  &--left, &--right {
    .ml-share-deploy__share__area {
      width: 50px;
    }
  }
  &--top, &--bottom {
    .ml-share-deploy__share__area {
      height: 50px;
    }
  }
}