.og-header-double {
  &--logo, &--logo img {
    height: 60px;
  }
  &--navigation {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &--link {
      min-width: 75px;
    }
  }
}