.og-header-double {
  &--logo, &--logo img {
    height: 60px;
  }
  &--navigation {
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &--overflow {
    .og-header-double--logo img {
      height: 80px;
      margin-top: 10px;
    }
  }
}