// Logo Inline
//
// Markup:
//<header class="og-logo-inline a-bg--mono-0 {{modifier_class}}
//               l-flex l-grid-column--full u-layer-5 u-shadow--bottom
//               l-position bs_viewport bs_theme">
//  <a href="#">
//    <picture class="l-column--1-1 l-position--absolute a-pad-0">
//       <img class="og-logo-inline__image
//                        l-position--absolute--center-x
//                        a-image l-position--absolute a-mi-zoom a-mi-zoom--in a-mi-zoom--slow
//                        bs_viewport"
//            src="../../images/bonseo/logo.png">
//    </picture>
//  </a>
//  <nav class="og-logo-inline__navigation og-logo-inline__navigation--left
//                l-flex l-flex-item--align-center l-column--1-1 l-flex--justify-end">
//      <a href="#" class="a-text a-text--link a-text--capitalize og-logo-inline__navigation__link">Servicios</a>
//      <a href="#" class="a-text a-text--link a-text--capitalize og-logo-inline__navigation__link">DIY</a>
//  </nav>
//  <nav class="og-logo-inline__navigation og-logo-inline__navigation--right
//                l-flex l-flex-item--align-center l-column--1-1 l-flex--justify-start">
//      <a href="#" class="a-text a-text--link a-text--capitalize og-logo-inline__navigation__link">SEO</a>
//      <a href="#" class="a-text a-text--link a-text--capitalize og-logo-inline__navigation__link">Cursos</a>
//  </nav>
//</header>
//
// .og-logo-inline--brand - Brand Color
//
// Styleguide Organisms.Header.Inline

.og-logo-inline {
  position: sticky;
  top: 0;
  height: 50px;
  &--brand {
    background-color: $primary-color;
    .og-logo-inline__navigation {
      &__link {
        color: $secondary-color-text;
      }
    }
  }
  &__image {
    height: 67px;
  }
  &__navigation {
    &__link {
      padding: 0 5px;
    }
    &--left {
      padding-right: 40px;
    }
    &--right {
      padding-left: 40px;
    }
  }
}

@media only screen and (max-width: 720px) {
}