.og-menu-classic {
  display: none;
  position: fixed;
  right: 0;
  transform: translateX(200vw);
  height: 100vh;
  width: 80vw;
  transition: 1s ease-in-out;

  &.is-active {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 720px) {
  .og-menu-classic {
    display: block;
  }
}