// Bubble Action
//
// Markup: bubbleAction.html
//
// Styleguide Organisms.Blocks.BubbleAction

.og-bubble-action {
  &__content, &__aside {
    height: 80vh;
  }
  &__aside__element {

    &:first-child {
      animation-delay: 1s;
      animation-duration: 3s;
      left: 15%;
      top: 10%;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
      animation-duration: 4.5s;
      left: 55%;
      top: 30%;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
      animation-duration: 8s;
      left: 20%;
      top: 50%;
    }
    &:nth-child(4) {
      animation-delay: 0.7s;
      animation-duration: 2.5s;
      left: 55%;
      top: 65%;
    }
    &:nth-child(5) {
      left: 15%;
      top: 80%;
    }
  }
}