.og-slider--movie {
  overflow: hidden;

  &__content {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 80vw;
    height: 50vh;

    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
      display: none;
    }
  }

  .ml-arrow {
    opacity: 0.5;
    top: 50%;

    &--left {
      left: 0;
    }

    &--right {
      right: 20vw;
    }
  }

  &__nav {
    width: 20vw;
  }

  &__slide {
    height: 100%;
    width: 80vw;
    scroll-snap-align: start;
    //TODO: Animation
    &.is-active {
    }
  }
}

@media only screen and (max-width: $media-size-m) {
  .og-slider--movie {
    flex-wrap: wrap;

    &__content, &__nav, &__slide {
      width: 100vw;
    }

    .ml-arrow--right {
      right: 0;
    }
  }
}