.og-slider--simple {
  overflow: hidden;
  &__content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: mandatory;
    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
      display: none;
    }
  }
  &__slide {
    flex-shrink: 0;
    width: 100vw;
    height: 80vh;
  }
}
