.a-svg {
  background: none;
  svg {
    width: 20px;
    height: 20px;
    path {
      fill: $mono-color-0;
    }
  }
  &--m {
    svg {
      width: 40px;
      height: 40px;
    }
  }
  &--secondary {
    svg {
      path {
        fill: $secondary-color;
      }
    }
  }
  &--brand {
    svg {
      path {
        fill: $primary-color;
      }
    }
  }
  @each $class, $value in $monoColors {
    &--mono-#{$class} {
      fill: $value;
    }
  }

}

@import "custom";