// Rainbow
//
// Markup:
//  <div class="a-bg--mono-0 a-border--rainbow bs_theme {{modifier_class}} bs_theme" style="width:300px; height:300px"></div>
//
// Styleguide Atoms.Border.Rainbow
.a-border--rainbow {
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
    opacity: 0;
    transform: skew(2deg, 2deg);
  }

  &:before {
    @include a-animation--fade(3s, 0s);
    background: $secondary-color;
    background: linear-gradient(to right, $primary-color, $primary-color-dark);
  }

  &:after {
    @include a-animation--fade(4s, 2s);
    background: $primary-color-dark;
    background: linear-gradient(to right, $secondary-color-light, $secondary-color-dark);
  }
}