.a-border {
  border: 1px solid $mono-color-9;
  &--fat {
    border-width: 3px;
  }
  &--gigantic {
    border-width: 10px;
  }
  &--primary {
    border-color: $primary-color;
  }
  &--dark {
    border-color: $primary-color-dark;
  }
  &--rounded {
    border-radius: 50%;
  }
}