.a-mar {
  margin: 10px;
  &-0 {
    margin: 0;
  }
  &-auto {
    margin: 0 auto
  }
  &-20 {
    margin: 20px;
  }
  &-40 {
    margin: 40px;
  }
  &--x {
    margin: 0 10px;
    &-20 {
      margin: 0 20px;
    }
    &-40 {
      margin: 0 40px;
    }
  }
  &--y {
    margin: 10px 0;
    &-20 {
      margin: 20px 0;
    }
    &-40 {
      margin: 40px 0;
    }
    &--bottom {
      margin-top: 0;
      margin-bottom: 10px;
      &-20 {
        margin-bottom: 20px;
      }
      &-40 {
        margin-bottom: 40px;
      }
    }
  }
  &--minus {
    margin-top: -10px;
    &-20 {
      margin-top: -20px;
    }
    &-40 {
      margin-top: -40px;
    }
    &-60 {
      margin-top: -60px;
    }
  }
}

@media only screen and (max-width: $media-size-m) {
  .a-mar {
    padding: 5px;
    &-0 {
      padding: 0;
    }
    &-20 {
      padding: 10px;
    }
    &-40 {
      padding: 20px;
    }
    &--x {
      padding: 0 5px;
      &-20 {
        padding: 0 10px;
      }
      &-40 {
        padding: 0 20px;
      }
    }
    &--y {
      padding: 5px 0;
      &-20 {
        padding: 10px 0;
      }
      &-40 {
        padding: 20px 0;
      }
    }
  }
}


