$spaceMap: (
        "0" : 0,
        "5" : 5px,
        "15": 15px,
        "20": 20px,
        "40": 40px
);

.a-mar {
  margin: 10px;
  @each $class, $value in $spaceMap {
    &-#{$class} {
      margin: $value;
    }
  }
  &-auto {
    margin: 0 auto
  }
  &--x {
    margin: 0 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        margin: 0 $value;
      }
    }
  }
  &--bottom {
    margin-bottom: 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        margin-bottom: $value;
      }
    }
  }
  &--top {
    margin-top: 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        margin-top: $value;
      }
    }
  }

  &--y {
    margin: 10px 0;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        margin: $value 0;
      }
    }

  }
  &--minus {
    margin-top: -10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        margin-top: #{-$value};
      }
    }
  }
}
