.a-pad {
  padding: 10px;
  &-0 {
    padding: 0;
  }
  &-20 {
    padding: 20px;
  }
  &-40 {
    padding: 40px;
  }
  &--x {
    padding: 0 10px;
    &-20 {
      padding: 0 20px;
    }
    &-40 {
      padding: 0 40px;
    }
  }
  &--y {
    padding: 10px 0;
    &-20 {
      padding: 20px 0;
    }
    &-40 {
      padding: 40px 0;
    }
  }
}


@media only screen and (max-width: $media-size-m) {
  .a-pad {
    padding: 5px;
    &-0 {
      padding: 0;
    }
    &-20 {
      padding: 10px;
    }
    &-40 {
      padding: 20px;
    }
    &--x {
      padding: 0 5px;
      &-20 {
        padding: 0 10px;
      }
      &-40 {
        padding: 0 20px;
      }
    }
    &--y {
      padding: 5px 0;
      &-20 {
        padding: 10px 0;
      }
      &-40 {
        padding: 20px 0;
      }
    }
  }
}

