.bs_step {
  animation: stepping-out 3s linear forwards;
  display: none;
  &.is-active {
    animation: stepping-in 3s linear forwards;
    display: block;
    margin: 0 auto;
  }

}

@keyframes stepping-in {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0.2;
  }
  2% {
    opacity: 0.3;
  }
  90% {
    opacity: 1;
  }
  100% {
    display: block;
  }
}

@keyframes stepping-out {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    opacity: 0.5;
  }
  2% {
    opacity: 0.3;
  }
  90% {
    opacity: 0;

  }
  100% {
    display: none;
  }
}